{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid bg-dark">
        <h3>Cadastrar Novo Usuário</h3>
        <form method="post" class="form-primary bg-secondary">
            {% csrf_token %}
            <div class="row g-3">
                <div class="m-2 col-md-2">
                    {{ form.nome.label_tag }}
                    <br>
                    {{ form.nome }}
                </div>
                <div class="m-2 col-md-2">
                    {{ form.username.label_tag }}
                    <br>
                    {{ form.username }}
                </div>
                <div class="m-2 col-md-3">
                    {{ form.email.label_tag }}
                    <br>
                    {{ form.email }}
                </div>
            </div>
            <div class="m-2 row">
                {{ form.senha.label_tag }}
                <br>
                {{ form.senha }}
            </div>
            <div class="m-2 row">
                {{ form.confirmar_senha.label_tag }}
                <br>
                {{ form.confirmar_senha }}
            </div>
            <div class="m-2">
                {{ form.is_superuser.label_tag }}
                {{ form.is_superuser }}
            </div>
            <div class="m-2 row">
                <div>{{ form.relatorios_permitidos.label_tag }}</div>
                <div class="col">{{ form.relatorios_permitidos }}</div>
            </div>
            <div class="m-2 row">
                {{ form.setores.label_tag }}
                {{ form.setores }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/admin/?secao=usuarios" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
{% endblock %}
