{% extends "base.html" %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="login-container">
      <h4 class="mb-4 text-center">Entrar no Sistema</h4>
      {% if form.errors %}
        <div class="alert alert-danger">
          Usuário ou senha inválidos.
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="border rounded bg-light text-dark">
          <div class="m-2">
            {{form.username.label_tag}} <br>
            {{form.username}}
          </div>
          <div class="m-2">
            {{form.password.label_tag}} <br>
            {{form.password}}
          </div>
          <label class="m-2">
            <input type="checkbox" name="remember_me"> Manter conectado
          </label>
          <button type="submit" class="btn btn-success m-2">Entrar</button>
        </div>
      </form>  
    </div>
</div>
{% endblock %}
