{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <div class="container border border-dark rounded bg-secondary text-light my-10 mx-20">
        <h3 class="m-2">Configurar colunas do relatório: {{ relatorio.nome }}</h3>
        <form method="post" class="form-primary">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="border rounded-5 m-2 d-inline-block p-3">
                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    {{ form.non_field_errors }}
                    <div class="m-2 h5">{{ form.instance.coluna|capfirst }}</div>
                    {{ form }}
                </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-success m-3">Salvar Alterações</button>
            <a href="{% url 'admin_view' %}?secao=relatorios"
               class="btn btn-danger m-3">Cancelar</a>
        </form>
    </div>
{% endblock content %}
