{% extends "base.html" %}
{% block content %}
    <div class="container border border-dark rounded bg-secondary text-light my-10 mx-20">
        <h3 class="m-2">Configurar colunas do relatório: {{ relatorio.nome }}</h3>
        <form method="post" class="form-primary">
            {% for form, coluna in forms %}
                {% csrf_token %}
                <div class="border m-2 d-inline-block p-3">
                    {{ form.non_field_errors }}
                    <div class="m-2 h5">{{ coluna|capfirst }}</div>
                    <div class="m-3 h6">{{ form.ordem.label_tag }} {{ form.ordem }}</div>
                    <div class="m-3 h6">{{ form.largura.label_tag }} {{ form.largura }}</div>
                    <div class="m-3 h6">{{ form.totalizar.label_tag }} {{ form.ordem }}</div>
                    <div class="m-3 h6">{{ form.agrupamento.label_tag }} {{ form.agrupamento }}</div>
                    <div class="m-3 h6">{{ form.visibilidade.label_tag }} {{ form.visibilidade }}</div>
                </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-success m-3">Salvar Alterações</button>
            <a href="{% url 'admin_view' %}?secao=relatorios"
               class="btn btn-danger m-3">Cancelar</a>
        </form>
    </div>
{% endblock content %}
