{% extends "base.html" %}
{% block content %}
<div class="container border rounded m-5">
    <h2>Formatar colunas de {{ relatorio.nome }}</h2>
    <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for coluna, form in formset %}
        <div class="container-fluid border rounded m-20 mb-10">
            <label class="m-2">{{ coluna|capfirst }}</label>
            <div class="m-2">
                {{ form.as_div }}
            </div>
        </div>
    {% endfor %}
    <button class="btn btn-success m-2" type="submit">Salvar colunas</button>
    </form>
</div>
{% endblock %}